input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding: 12px 16px;
  font-family: Arial;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}
#fname,
#lname {
  width: 148px;
}
#email {
  display: block;
  width: 332px;
}
.signup {
  background-color: rgb(39, 83, 216);
  color: white;
  border: none;
  width: 365px;
  padding: 14px 0px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
}
